<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByZpXsuQRzw5-gmc9rDP8Kv6Weia8Lwjo</string>
	<key>GCM_SENDER_ID</key>
	<string>788745676913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wildergo.app</string>
	<key>PROJECT_ID</key>
	<string>wildergo-27042</string>
	<key>STORAGE_BUCKET</key>
	<string>wildergo-27042.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788745676913:ios:4ca5bdc4cf9c60fdd693d0</string>
	<key>DATABASE_URL</key>
	<string>https://wildergo-27042-default-rtdb.firebaseio.com</string>
</dict>
</plist>